.about-btn-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.about-card{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 12px;
    background-color: rgba(240, 248, 255, 0.241);
    width: 700px;
    }

.title-about{
    display: flex;
    justify-content: space-around;
    align-items: center;
}