body{
    background: rgb(208,205,205);
    background: linear-gradient(175deg, rgba(208,205,205,1) 0%, rgba(88,123,158,1) 100%);
}
.switch-btn{
   margin-top: 20px;
}
.father-switch-btn{
    display: flex;
    justify-content: center;
}